<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318821907510-ivmt3q8jdjb28ov91cmb0hurfr55av64.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318821907510-ivmt3q8jdjb28ov91cmb0hurfr55av64</string>
	<key>API_KEY</key>
	<string>AIzaSyB8TgT1GNCpzrrDI5qjF7-M4L-908PFxjA</string>
	<key>GCM_SENDER_ID</key>
	<string>318821907510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>WinnovTech.Future</string>
	<key>PROJECT_ID</key>
	<string>future-greek</string>
	<key>STORAGE_BUCKET</key>
	<string>future-greek.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318821907510:ios:ee9ebaf833e1ad0784ec97</string>
	<key>DATABASE_URL</key>
	<string>https://future-greek.firebaseio.com</string>
</dict>
</plist>